{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock head_title%} - Brian's SaaS</title>
    <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}" />
    {% block extra_head %}{% endblock %} {% include 'base/css.html' %}
  </head>
  <body class="bg-gray-50 min-h-screen">
    {% include 'nav/navbar.html' %} {% include 'base/messages.html' with
    messages=messages %}
    <div
      class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full">
        <div
          class="bg-white py-8 px-6 shadow-lg rounded-lg border border-gray-200"
        >
          {% block whitebox %}{% endblock %}
        </div>
      </div>
    </div>
    {% include 'base/js.html' %}
  </body>
</html>
